@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #99a1ad;
  --secondary: #616272;
  --background: #F5F7FA;
  --card-bg: #FFFFFF;
}

body {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}

@layer utilities {
  .bg-primary {
    background-color: var(--primary);
  }
  .bg-secondary {
    background-color: var(--secondary);
  }
  .bg-background {
    background-color: var(--background);
  }
  .text-primary {
    color: var(--primary);
  }
  .text-secondary {
    color: var(--secondary);
  }
}
